
<div class="content">

<h1>Order History</h1>
<hr>

<div *ngFor="let order of orders | async">
  <img [src]="order.img" width="100px">
  <h3>Sold the {{ order.product }} for <span class="tag is-success">{{ order.amount | currency }}</span></h3>
  <hr>  
</div>

<hr>

<!-- Amt: <input [(ngModel)]="amount"><br>
Prd: <input [(ngModel)]="product"><br>
Img: <input [(ngModel)]="img"><br>

<button (click)="createOrder()">Create</button> -->

<button class="button is-success is-outlined" (click)="requestReport()">
    <span class="icon">
        <i class="fa fa-file-excel-o fa-lg"></i>
      </span>
  Generate CSV Report
</button>

<hr>
<div *ngFor="let report of reports | async">

  <report-link [report]="report"></report-link>
  
</div>

</div>



























<router-outlet></router-outlet>
